@import 'variables';
@import 'medium';
@import 'small';
@import 'very-small';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url('https://cdn.pixabay.com/photo/2016/03/17/23/09/poker-1264076_1280.jpg');
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	position: relative;
	font-family: 'Roboto', system-ui;
	overflow: hidden;
}

input[type='number'] {
	-moz-appearance: textfield;
	-webkit-appearance: none;
	appearance: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

dialog {
	all: unset;
}

dialog:not([open]) {
	display: none;
}

.container {
	width: 80%;
	height: 80%;
	background-color: $main-dark;
	border-radius: 32px;
	border: 2px solid $main-red;
	box-shadow: 0 6px 15px rgba(178, 34, 34, 0.9);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	// display: none;
}

.info-panel {
	border-right: 4px solid $main-red;
	width: 20%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: $main-light;

	&__title {
		@include title-style;
	}

	&__list {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		height: 100%;
		width: 100%;

		li {
			@include li-style;
			span {
				@include span-style;
			}
		}
	}
}

.timer {
	width: 60%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	position: relative;

	&__title {
		font-size: 26px;
		color: $main-light;
		font-weight: bold;
		text-shadow: 0 0 10px $main-light;
	}

	&__counter {
		font-size: 120px;
		color: $main-light;
		font-weight: bold;
		text-align: center;
	}

	&__current-blinds {
		color: $main-light;
		list-style: none;
		text-align: center;
		font-size: 25px;

		span {
			display: block;
			text-align: center;
			margin-top: 5px;
			font-size: 120px;

			&:first-child {
				font-size: 25px;
			}
		}
	}

	&__buttons {
		width: 60%;
		display: flex;
		justify-content: center;
		gap: 30px;
		align-items: center;

		button {
			padding: 20px 35px;
			border-radius: 8%;
			border: 2px solid $main-red;
			background-color: $main-light;
			box-shadow: 0 6px 15px rgba(178, 34, 34, 0.9);
			cursor: pointer;
			transition: background-color 0.3s, box-shadow 0.3s;

			&:hover {
				background-color: lighten($main-light, 10%);
				box-shadow: 0 8px 20px rgba(178, 34, 34, 0.7);
			}

			&:disabled {
				background-color: darken($main-light, 10%);
				border-color: $main-dark;
				box-shadow: none;
				cursor: not-allowed;
				opacity: 0.6;
			}

			i {
				font-size: 32px;
			}

			.fa-pause {
				font-size: 33px;
			}

			&:first-child {
				margin: 0;
			}
		}
	}

	&__ante {
		color: $main-light;
		font-size: 28px;
		text-align: center;
		display: flex;

		margin-bottom: 80px;
		position: absolute;
		bottom: 15%;
		left: 51%;
		transform: translateX(-50%);
	}
}

.info-cash-panel {
	width: 20%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	border-left: 4px solid $main-red;
	color: $main-light;

	&__title {
		@include title-style;
	}

	&__list {
		display: flex;
		height: 70%;
		flex-direction: column;
		justify-content: space-evenly;

		li {
			@include li-style;

			span {
				@include span-style;
			}
		}
	}
}

.settings {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100vh;
	height: 100vh;
	transform: translateX(100%);
	background-image: url('https://cdn.pixabay.com/photo/2016/03/13/11/47/roulette-1253626_1280.jpg');
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $main-light;

	&.modal-open::after {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.7);
	}

	.break-modal {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 400px;
		height: auto;
		background-color: rgb(235, 222, 222);
		z-index: 2222;
		border-radius: 12px;
		padding: 20px 18px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

		.warning-title {
			text-align: center;
			color: darken($main-red, 10%);
			font-size: 20px;
			margin: 0;
			padding: 0;
			line-height: 1.2;
		}

		.close-modal {
			position: absolute;
			top: 20px;
			right: 18px;
			background-color: transparent;
			border: none;
			font-size: 20px;
			color: darken($main-red, 20%);
			cursor: pointer;
			transition: transform 0.2s ease, color 0.2s ease;

			&:hover {
				transform: scale(1.1);
				color: darken($main-red, 30%);
			}
		}

		p {
			color: $main-red;
			font-size: 16px;
			font-weight: bold;
			text-align: center;
			margin: 10px 0 0;
		}
	}
}

.settings-container {
	overflow-y: auto;
	// margin-top: 10px;
	height: 95%;
	width: 50%;
	@include container-style;
	border-radius: 12px;
	background-color: lighten($main-dark, 5%);
	padding: 20px 50px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	padding-bottom: 100px;

	&__medium {
		display: contents;
	}

	&__title {
		@include title-style;
		text-align: center;
		font-size: 50px;
		margin-top: 10px;
		margin-bottom: 25px;

		&:nth-of-type(2) {
			margin-top: 40px;
		}
	}

	&__labels {
		display: flex;
		margin: 20px auto;
		width: 100%;

		label {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin: 0 20px;
			width: 50%;

			p {
				margin-bottom: 10px;
				font-size: 28px;
				margin-left: 5px;
				align-self: start;
			}

			input {
				@include input-style;

				&:focus {
					@include focus-style;
				}
			}
		}
	}

	.solo-input {
		margin-top: 20px;
		width: 50%;

		p {
			font-size: 28px;
			margin-bottom: 10px;
			margin-left: 5px;
			text-align: left;
		}

		input {
			@include input-style;

			&:focus {
				@include focus-style;
			}
		}
	}

	&__btn {
		position: fixed;
		@include container-style;
		border-radius: 12px;
		height: 7%;
		width: 120px;
		padding: 8px 32px;
		margin: 0 8px;
		align-self: flex-end;
		background-color: $main-dark;
		cursor: pointer;
		transition: scale 0.3s;
		color: $main-light;
		font-size: 17px;
		font-weight: bold;
		bottom: 35px;
		transform: translateX(-50%);
		z-index: 1;

		&:hover {
			scale: 0.9;
		}

		&.modal-open {
			box-shadow: none;
			border: none;
			opacity: 60%;
		}
	}

	&__add-blind {
		left: 45%;
	}

	&__add-break {
		left: 55%;
	}

	&::after {
		content: '';
		position: fixed;
		bottom: -25px;
		left: 50%;
		width: 48%;
		height: 100px;
		background-color: lighten($main-dark, 5%);
		transform: translate(-50%, -50%);
	}

	.settings-container__break {
		position: relative;
		background-color: #1d1c1c;
		width: 100%;
		height: 45px;
		min-height: 45px;
		border-radius: 12px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 15px;
		margin-top: 20px;

		.input-field {
			height: 100%;
			position: absolute;
			left: 50%;
			transform: translate(-50%);
			display: flex;
			justify-content: center;
			align-items: center;

			.break-label {
				color: #f0f0f0;
				font-size: 14px;
				margin-right: 10px;
			}

			.break-input {
				height: 80%;
				width: 60px;
				background-color: #333;
				color: #fff;
				border: none;
				border-radius: 6px;
				text-align: center;
				font-size: 14px;

				&:focus {
					outline: none;
					box-shadow: 0 0 5px #444;

					&::placeholder {
						color: #bbb;
					}
				}
			}
		}
		&-btn {
			position: absolute;
			right: 3%;
			background: transparent;
			border: 2px solid #6c757d;
			color: #6c757d;
			border-radius: 50%;
			width: 32px;
			height: 32px;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			transition: all 0.3s ease;

			&:hover {
				background: #6c757d;
				color: #fff;
				transform: scale(1.1);
			}
		}
	}

	.confirm-btn {
		position: fixed;
		bottom: 5%;
		right: 5%;
		background-color: $main-dark;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		@include container-style;
		cursor: pointer;
		transition: scale 0.3s;

		&:hover {
			scale: 0.9;
		}

		i {
			color: $main-light;
			font-size: 60px;
		}
	}

	.blinds-settings {
		display: flex;
		justify-content: space-evenly;
		margin-top: 20px;
		width: 100%;

		&:last-child {
			margin-bottom: 30px;
		}

		label {
			p {
				margin-bottom: 5px;
				font-size: 15px;
				margin-left: 5px;
			}

			input {
				@include input-style;
				width: 65%;

				&:focus {
					@include focus-style;
				}

				&::placeholder {
					opacity: 0.7;
				}
			}
		}

		&__btn {
			position: relative;
			@include container-style;
			border-radius: 12px;
			height: 60%;
			padding: 8px 32px;
			margin: 0 8px;
			align-self: flex-end;
			background-color: $main-dark;
			cursor: pointer;
			transition: scale 0.3s;
			color: $main-light;
			font-size: 17px;
			font-weight: bold;

			&:hover {
				scale: 0.9;
			}

			i {
				color: $main-light;
				font-size: 25px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
}

@keyframes settings-move {
	from {
		transform: translateX(100%);
	}

	to {
		transform: translateX(0);
	}
}

@keyframes settings-hide {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(100%);
	}
}

.animation-start {
	animation: settings-move 0.5s forwards !important;
}

.animation-hide-start {
	animation: settings-hide 0.5s forwards !important;
}

.disabled {
	display: none;
}
